services:
  # 웹 서버 (배포용)
  web-server:
    build:
      context: .
      platforms:
        - "linux/amd64"
        - "linux/arm64"
    image: ${DOCKER_REG_ORG}/${WS_IMG_NAME}:${WS_IMG_TAG}
    env_file:
      - .env
    environment:
      # 컨테이너 내부는 PORT 환경변수를 사용함
      - PORT=${WS_PORT}
    ports:
      - "${WS_HOST_PORT}:${WS_PORT}"
    restart: always