services:
  web-server:
    build: .
    image: ${DOCKER_REG_ORG}/${DOCKER_IMG_NAME}:${DOCKER_IMG_TAG}
    environment:
      - PORT=${CONTAINER_PORT}
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"