name: Web sever CI/CD

on:
  push:
    branches:
      - main    # 프로덕션
      - release # 스테이징
      - develop # 개발

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test

  build-and-push-image:
    needs: test
    runs-on: ubuntu-latest
    # GitHub environmnet를 프로필별로 적용
    environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'release' && 'stage' || github.ref_name == 'develop' && 'dev' }}
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/release' || github.ref == 'refs/heads/develop'

    steps:
      - uses: actions/checkout@v5
      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build --platform linux/amd64 -t ${{ vars.DOCKER_REG_ORG }}/${{ vars.DOCKER_IMG_NAME }}:${{ vars.DOCKER_IMG_TAG }} .
          docker push ${{ vars.DOCKER_REG_ORG }}/${{ vars.DOCKER_IMG_NAME }}:${{ vars.DOCKER_IMG_TAG }}

  deploy:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name == 'release' && 'stage' || github.ref_name == 'develop' && 'dev' }}
    if: github.ref == 'refs/heads/develop'

    steps:
      - uses: actions/checkout@v5
      - name: Prepare SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > ~/.ssh/ec2-ssh-private-key.pem
          chmod 600 ~/.ssh/ec2-ssh-private-key.pem
          ssh-keyscan -H ${{ vars.EC2_SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: File Copy 'docker-compose.yml'
        run: |
          ssh -i ~/.ssh/ec2-ssh-private-key.pem ${{ vars.EC2_SERVER_USER }}@${{ vars.EC2_SERVER_HOST }} "mkdir -p /home/${{ vars.EC2_SERVER_USER }}/app/web-server"
          scp -i ~/.ssh/ec2-ssh-private-key.pem docker-compose.yml ${{ vars.EC2_SERVER_USER  }}@${{ vars.EC2_SERVER_HOST }}:/home/${{ vars.EC2_SERVER_USER }}/app/web-server/

      - name: Check if Docker is installed
        id: check-docker
        run: |
          DOCKER_EXISTS=$(ssh -i ~/.ssh/ec2-ssh-private-key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_SERVER_USER }}@${{ vars.EC2_SERVER_HOST }} 'command -v docker >/dev/null && echo "true" || echo "false"')
          echo "docker_exists=$DOCKER_EXISTS" >> $GITHUB_OUTPUT

      - name: Check if Node.js is installed
        id: check-nodejs
        run: |
          NODE_EXISTS=$(ssh -i ~/.ssh/ec2-ssh-private-key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_SERVER_USER }}@${{ vars.EC2_SERVER_HOST }} 'command -v node >/dev/null && echo "true" || echo "false"')
          echo "node_exists=$NODE_EXISTS" >> $GITHUB_OUTPUT

      - name: Install Docker on EC2
        if: steps.check-docker.outputs.docker_exists == 'false'
        run: |
          ssh -i ~/.ssh/ec2-ssh-private-key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_SERVER_USER }}@${{ vars.EC2_SERVER_HOST }} << 'EOF'
              sudo apt-get update
              sudo apt-get install -y \
                  ca-certificates \
                  curl \
                  gnupg \
                  lsb-release
              sudo mkdir -p /etc/apt/keyrings
              curl -fsSL https://download.docker.com/linux/ubuntu/gpg \
                | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
              echo \
                "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] \
                https://download.docker.com/linux/ubuntu \
                $(lsb_release -cs) stable" \
                | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
              sudo apt-get update
              sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-compose-plugin
              sudo usermod -aG docker $USER
          EOF

      - name: Install Node.js on EC2
        if: steps.check-nodejs.outputs.node_exists == 'false'
        run: |
          ssh -i ~/.ssh/ec2-ssh-private-key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_SERVER_USER }}@${{ vars.EC2_SERVER_HOST }} << 'EOF'
            curl -fsSL https://deb.nodesource.com/setup_lts.x | sudo -E bash -
            sudo apt-get install -y nodejs
          EOF

      - name: Deploy to EC2 via Docker Compose
        run: |
          ssh -i ~/.ssh/ec2-ssh-private-key.pem -o StrictHostKeyChecking=no ${{ vars.EC2_SERVER_USER }}@${{ vars.EC2_SERVER_HOST }} << EOF
              DOCKER_REG_ORG=${{ vars.DOCKER_REG_ORG }}
              DOCKER_IMG_NAME=${{ vars.DOCKER_IMG_NAME }}
              DOCKER_IMG_TAG=${{ vars.DOCKER_IMG_TAG }}
              HOST_PORT=${{ vars.HOST_PORT }}
              CONTAINER_PORT=${{ vars.CONTAINER_PORT}}
              docker compose pull
              docker compose up -d
          EOF
